/*
page background color: #3a4147
content & card background color: #2d3237
*/

body {
	/* font-family: "arial", "Helvetica Neue", Arial, Helvetica, sans-serif; */
	/* background-image: url("../images/Natural-Paper-Background.jpg"); */
	/* background-color: black; */

	font-family: 'Oswald', sans-serif;
	background: #3a4147;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
/* cap image */
#capImg {
	border-bottom: green 3px solid;
}
/* end cap img */

/* nabar ------------------ */
.navbar {
	border-bottom: green 3px solid;
	background: #2d3237;
}
.navbar h1:hover {
	color: rgb(214, 252, 206);
	background: #3a4147;
}
.navbar h1 {
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	color: green;
}
.nav-item:hover {
	color: rgb(214, 252, 206);
	background: #3a4147;
}
/* end navbar ------------------ */

/* button css --------------------- */
.btn-success {
	background: green;
	color: lightgreen;
}
.btn-success:hover {
	color: rgb(5, 117, 13);
	background: rgb(0, 61, 0);
}
/* end button css ------------- */

/* *****************
container */

.container-fluid {
	background-color: #3a4147;
}

/* about me----------------- */
#pageName {
	height: 100px;
	z-index: 1021;
}
#pageName h2 {
	background-color: white;
	color: black;
	/* font-size: 3vw;  */
	font-size: 200%;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 40px;
	/* width: 100px; */
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	border: transparent 4px solid;
	border-radius: 4px;
}
.hidden-about-me-text{
	font-weight: 600;
	font-size: larger;
}
#aboutMe {
	background-color: #2d3237;
	border: transparent 2px solid;
	border-radius: 5px;
}
#aboutMe p:first-of-type {
	margin-top: 10px;
}
#aboutMe p,
#aboutMe h5 {
	padding: 0.6em 0.6em;
}
#scootImg {
	width: 300px;
	cursor: pointer;
}
#scootImg:hover {
	transform: scale (1.1, 1.1);
	width: 301px;
	transition: 0.5s;
	opacity: 0.6;
}
/* end about me----------------- */

/* content box--------------- */
.container-fluid {
	z-index: 10;
}

.contentBox {
	/* background-color: lightgray; */
	background-color: #3a4147;
	color: rgb(213, 213, 213);
}
/* end content box-------------- */

/* begin parrallax 1 */

#pLax-1-content::before {
	content: "";
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -10;
	background-image: url(../images/Lost-Riv-Pan.jpg);
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	background-size: contain;
}
#pLax-1-content {
	height: 14vw;
}
/* end parallax 1 */

/* begin parallax 2 */
#pLax-2 {
	background-image: url(../images/pLax-2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	/* height: 600px; */
}
#pLax-2-content {
	height: 200px;
	position: relative;
}
#pLax-2-content h2 {
	background-color: white;
	color: black;
	font-size: 200%;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 40px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	border: transparent 4px solid;
	border-radius: 4px;
}

/* end parallax 2 */

/* CARD CSS ------------------*/
.cardCol {
	background-color: green;
}
.card {
	background-color: green;
	background-image: linear-gradient(0deg, transparent, rgb(0, 183, 0));
	position: relative;
}
.card-img-top {
	display: block;
	width: 100%;
	height: auto;
}
.card-img-title {
	font-size: 1em;
	position: absolute;
	transform: translate(-50% -50%);
	top: 0.1rem;
	right: 0.1rem;
	color: white;
	/* background-color: rgba(86, 86, 86, 0.489); */
	background-color: rgba(0, 128, 0, 0.5);
	border: 0.16rem solid transparent;
	border-radius: 0.2rem;
	/* text-shadow: 0 0 .1rem black; */
}
.card:hover {
	background-color: #394552;
}
.card:hover .card-body {
	opacity: 1;
}
.card:hover .card-img-title {
	color: transparent;
	background-color: transparent;
}
.card-body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #2d3237b5;
}
.cardOverlay {
	position: absolute;
	width: 80%;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* text-align: center; */
}
.cardOverlay .btn {
	color: white;
}

.gitTag {
	position: relative;
	left: 90%;
	bottom: -5px;
	color: rgb(255, 140, 0);
}
.techList {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: -0.8rem;
	max-width: 100%;
	text-align: center;
	line-height: 2.1rem;
}
.techList p {
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	display: inline;
	padding: 0 0.2rem;
	background-color: green;
	margin: .2rem .1rem;
	border: .2rem solid transparent;
	border-radius: .2rem;
}

/* END CARD CSS -------------------*/

/* footer ---------------- */
.footer {
	border-top: green 3px solid;
	background-color: #2d3237;
}
.footer p {
	font-size: 8px;
	padding-top: 5px;
	color: white;
}

#socialLinks a {
	font-size: 2rem;
	color: rgb(255, 140, 0);
	padding: 5px 10px 0 10px;
}

#socialLinks i {
	transition: 0.3s;
}

#socialLinks i:hover {
	transition: 0.3s;
	/* font-size: 2.1em; */
	transform: scale(1.2);
	color: green;
}

/* end footer ------------- */

/* portfolio modal --------------------*/
.modalProject {
	cursor: pointer;
}
iframe {
	height: 650px;
}

/* about me portion of portfolio modal */
#portfolioModalContent p {
	padding: 0 1rem;
}
#portfolioModalContent p:first-child {
	margin-top: 1rem;
}
#portfolioModalContent p:last-child {
	margin-bottom: 1rem;
}
.modal-header.about-me,
.modal-footer.about-me {
	background-color: rgb(0, 162, 0);
	background-image: linear-gradient(120deg, transparent, rgb(2, 230, 2));
}
.close span {
	font-size: 1.8em;
}
/* end about me portion of portfolio modal */

@media only screen and (max-width: 767px) {
	#scootImg {
		width: 100%;
	}
	.navbar {
		padding-top: 20px;
	}
}
/* end portfolio modal ----------------*/
